USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[FeatureUsage]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[FeatureUsage]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[FeatureUsage] AS  SELECT * FROM [dbo].[FeatureUsage_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FeatureUsage_Partition31]' 
GO
