USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[WSSSync]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[WSSSync]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[WSSSync] AS  SELECT * FROM [dbo].[WSSSync_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WSSSync_Partition31]' 
GO
