USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[EDU_OperationStatsUsage]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[EDU_OperationStatsUsage]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[EDU_OperationStatsUsage] AS  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[EDU_OperationStatsUsage_Partition31]' 
GO
