USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[ClientServiceActionUsage]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[ClientServiceActionUsage]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[ClientServiceActionUsage] AS  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceActionUsage_Partition31]' 
GO
