USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  Table [dbo].[FileUsage_Partition29]    Script Date: 11/10/2016 4:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FileUsage_Partition29]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FileUsage_Partition29](
	[PartitionId] [tinyint] NULL,
	[RowId] [uniqueidentifier] NOT NULL DEFAULT (newsequentialid()),
	[LogTime] [datetime] NOT NULL,
	[MachineName] [nvarchar](128) NOT NULL,
	[FarmId] [uniqueidentifier] NULL,
	[SiteSubscriptionId] [uniqueidentifier] NULL,
	[UserLogin] [nvarchar](300) NULL,
	[CorrelationId] [uniqueidentifier] NULL,
	[Url] [nvarchar](260) NULL,
	[Partition] [tinyint] NULL,
	[OperationType] [nvarchar](2000) NULL,
	[PreviousFileSize] [bigint] NULL,
	[NewFileSize] [bigint] NULL,
	[ExistingDataMaintained] [bigint] NULL,
	[NewDataCopied] [bigint] NULL,
	[ExistingSubgraphsMaintained] [int] NULL,
	[NewNodesAdded] [int] NULL,
	[FirstLevelUnitsOfChange] [int] NULL,
	[TotalUnitsOfChangeCount] [int] NULL,
	[Roundtrips] [int] NULL,
	[Queries] [int] NULL,
	[ReadBlobsFounds] [int] NULL,
	[ReadBlobsNotFound] [int] NULL,
	[ReadBlobBytes] [bigint] NULL,
	[EffectiveReadBlobBytes] [bigint] NULL,
	[ChangeQueriedBlobs] [int] NULL,
	[ChangeQueriedBlobBytes] [bigint] NULL,
	[Updates] [int] NULL,
	[WrittenBlobs] [int] NULL,
	[WrittenBlobBytes] [bigint] NULL,
	[EffectiveWrittenBlobBytes] [bigint] NULL,
	[RowCreatedTime] [datetime] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_LogTime]    Script Date: 11/10/2016 4:16:47 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[FileUsage_Partition29]') AND name = N'IX_LogTime')
CREATE NONCLUSTERED INDEX [IX_LogTime] ON [dbo].[FileUsage_Partition29]
(
	[LogTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MachineName]    Script Date: 11/10/2016 4:16:47 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[FileUsage_Partition29]') AND name = N'IX_MachineName')
CREATE NONCLUSTERED INDEX [IX_MachineName] ON [dbo].[FileUsage_Partition29]
(
	[MachineName] ASC,
	[LogTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
