USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_PerMinuteFeedRate]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_PerMinuteFeedRate]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_PerMinuteFeedRate] AS  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFeedRate_Partition31]' 
GO
