USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_DiagnosticsCounters]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_DiagnosticsCounters]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_DiagnosticsCounters] AS  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DiagnosticsCounters_Partition31]' 
GO
