USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_VerboseFlowLatency]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_VerboseFlowLatency]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_VerboseFlowLatency] AS  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseFlowLatency_Partition31]' 
GO
