USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[ExportUsage]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[ExportUsage]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[ExportUsage] AS  SELECT * FROM [dbo].[ExportUsage_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ExportUsage_Partition31]' 
GO
