USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[AnalysisServicesLoads]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[AnalysisServicesLoads]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[AnalysisServicesLoads] AS  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesLoads_Partition31]' 
GO
