USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_VerboseQueryTags]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_VerboseQueryTags]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_VerboseQueryTags] AS  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQueryTags_Partition31]' 
GO
