USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_DictionaryManagementMonitoring]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_DictionaryManagementMonitoring]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_DictionaryManagementMonitoring] AS  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_DictionaryManagementMonitoring_Partition31]' 
GO
