USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[SandboxedRequestsMonitoredData]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[SandboxedRequestsMonitoredData]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[SandboxedRequestsMonitoredData] AS  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequestsMonitoredData_Partition31]' 
GO
