USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_VerboseSubFlowTimings]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_VerboseSubFlowTimings]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_VerboseSubFlowTimings] AS  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseSubFlowTimings_Partition31]' 
GO
