USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_VerboseQuerySubFlowTimings]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_VerboseQuerySubFlowTimings]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_VerboseQuerySubFlowTimings] AS  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseQuerySubFlowTimings_Partition31]' 
GO
