USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_WordBreakerHealthMonitoringData]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_WordBreakerHealthMonitoringData]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_WordBreakerHealthMonitoringData] AS  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_WordBreakerHealthMonitoringData_Partition31]' 
GO
