USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[AnalysisServicesRequests]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[AnalysisServicesRequests]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[AnalysisServicesRequests] AS  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesRequests_Partition31]' 
GO
