USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[TimerJobUsage]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[TimerJobUsage]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[TimerJobUsage] AS  SELECT * FROM [dbo].[TimerJobUsage_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TimerJobUsage_Partition31]' 
GO
