USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  Table [dbo].[WorkflowUsageTelemetry_Partition30]    Script Date: 11/10/2016 4:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkflowUsageTelemetry_Partition30]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WorkflowUsageTelemetry_Partition30](
	[PartitionId] [tinyint] NULL,
	[RowId] [uniqueidentifier] NOT NULL,
	[LogTime] [datetime] NOT NULL,
	[MachineName] [nvarchar](128) NOT NULL,
	[FarmId] [uniqueidentifier] NULL,
	[SiteSubscriptionId] [uniqueidentifier] NULL,
	[UserLogin] [nvarchar](300) NULL,
	[CorrelationId] [uniqueidentifier] NULL,
	[WorkflowID] [uniqueidentifier] NULL,
	[TemplateID] [uniqueidentifier] NULL,
	[ContentDBID] [uniqueidentifier] NULL,
	[ObjectType] [int] NULL,
	[NextScheduledRun] [datetime] NULL,
	[WorkflowStartTime] [datetime] NULL,
	[WorkflowEndTime] [datetime] NULL,
	[WorkflowCompletionCode] [int] NULL,
	[WorkflowUser] [int] NULL,
	[ExecutionTime] [bigint] NULL,
	[RequestCount] [int] NULL,
	[QueryCount] [int] NULL,
	[QueryDuration] [bigint] NULL,
	[ServiceCallCount] [int] NULL,
	[ServiceCallDuration] [bigint] NULL,
	[RowCreatedTime] [datetime] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_LogTime]    Script Date: 11/10/2016 4:16:49 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[WorkflowUsageTelemetry_Partition30]') AND name = N'IX_LogTime')
CREATE NONCLUSTERED INDEX [IX_LogTime] ON [dbo].[WorkflowUsageTelemetry_Partition30]
(
	[LogTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MachineName]    Script Date: 11/10/2016 4:16:49 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[WorkflowUsageTelemetry_Partition30]') AND name = N'IX_MachineName')
CREATE NONCLUSTERED INDEX [IX_MachineName] ON [dbo].[WorkflowUsageTelemetry_Partition30]
(
	[MachineName] ASC,
	[LogTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__WorkflowU__RowId__48BAC3E5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkflowUsageTelemetry_Partition30] ADD  DEFAULT (newsequentialid()) FOR [RowId]
END

GO
