USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[SqlLatencyData]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[SqlLatencyData]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[SqlLatencyData] AS  SELECT * FROM [dbo].[SqlLatencyData_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlLatencyData_Partition31]' 
GO
