USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_PerMinuteTotalUIQueryLatency]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_PerMinuteTotalUIQueryLatency]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_PerMinuteTotalUIQueryLatency] AS  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteTotalUIQueryLatency_Partition31]' 
GO
