USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_PerMinuteFlowLatency]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_PerMinuteFlowLatency]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_PerMinuteFlowLatency] AS  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteFlowLatency_Partition31]' 
GO
