USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[ServiceCalls]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[ServiceCalls]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[ServiceCalls] AS  SELECT * FROM [dbo].[ServiceCalls_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ServiceCalls_Partition31]' 
GO
