USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[AnalysisServicesUnloads]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[AnalysisServicesUnloads]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[AnalysisServicesUnloads] AS  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AnalysisServicesUnloads_Partition31]' 
GO
