USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[SqlIoData]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[SqlIoData]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[SqlIoData] AS  SELECT * FROM [dbo].[SqlIoData_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlIoData_Partition31]' 
GO
