USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[FileUsage]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[FileUsage]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[FileUsage] AS  SELECT * FROM [dbo].[FileUsage_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[FileUsage_Partition31]' 
GO
