USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  UserDefinedFunction [dbo].[TVF_TenantLog_Source]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TVF_TenantLog_Source]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [dbo].[TVF_TenantLog_Source](@Source int, @SiteSubscriptionId uniqueidentifier, @BeginDateTimeUtc datetime, @EndDateTimeUtc datetime, @NRows int) RETURNS TABLE AS RETURN WITH CTEALL AS ( SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition0] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition1] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition2] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition3] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition4] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition5] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition6] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition7] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition8] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition9] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition10] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition11] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition12] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition13] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition14] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition15] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition16] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition17] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition18] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition19] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition20] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition21] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition22] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition23] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition24] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition25] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition26] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition27] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition28] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition29] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition30] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC UNION ALL  SELECT TOP (@NRows) * FROM [dbo].[TenantLog_Partition31] WITH(NOLOCK, INDEX=IX_TenantLog_SiteSubscriptionId) WHERE Source = @Source AND SitesubscriptionId = @SiteSubscriptionId AND (LogTime BETWEEN @BeginDatetimeUtc AND @EndDateTimeUtc) ORDER BY LogTime DESC) SELECT TOP (@NRows) * FROM CTEALL ORDER BY LogTime DESC' 
END

GO
