USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[AppUsage]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[AppUsage]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[AppUsage] AS  SELECT * FROM [dbo].[AppUsage_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppUsage_Partition31]' 
GO
