USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_PerMinuteIndexLookupQueryLatency]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_PerMinuteIndexLookupQueryLatency]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_PerMinuteIndexLookupQueryLatency] AS  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteIndexLookupQueryLatency_Partition31]' 
GO
