USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  Table [dbo].[Search_DictionaryManagementMonitoring_Partition8]    Script Date: 11/10/2016 4:16:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Search_DictionaryManagementMonitoring_Partition8]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Search_DictionaryManagementMonitoring_Partition8](
	[PartitionId] [tinyint] NULL,
	[RowId] [uniqueidentifier] NOT NULL,
	[LogTime] [datetime] NOT NULL,
	[MachineName] [nvarchar](128) NOT NULL,
	[ApplicationId] [uniqueidentifier] NULL,
	[CorrelationId] [uniqueidentifier] NULL,
	[NodeName] [nvarchar](128) NULL,
	[Status] [smallint] NULL,
	[EventId] [int] NULL,
	[FlowName] [nvarchar](128) NULL,
	[DictionaryName] [nvarchar](256) NULL,
	[Version] [nvarchar](128) NULL,
	[Entries] [bigint] NULL,
	[Size] [bigint] NULL,
	[CompilationDuration] [bigint] NULL,
	[OverallDuration] [bigint] NULL,
	[TermsRead] [bigint] NULL,
	[TenantsRead] [bigint] NULL,
	[Tenants] [bigint] NULL,
	[Message] [nvarchar](1000) NULL,
	[RowCreatedTime] [datetime] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_LogTime]    Script Date: 11/10/2016 4:16:48 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Search_DictionaryManagementMonitoring_Partition8]') AND name = N'IX_LogTime')
CREATE NONCLUSTERED INDEX [IX_LogTime] ON [dbo].[Search_DictionaryManagementMonitoring_Partition8]
(
	[LogTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MachineName]    Script Date: 11/10/2016 4:16:48 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Search_DictionaryManagementMonitoring_Partition8]') AND name = N'IX_MachineName')
CREATE NONCLUSTERED INDEX [IX_MachineName] ON [dbo].[Search_DictionaryManagementMonitoring_Partition8]
(
	[MachineName] ASC,
	[LogTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Search_Di__RowId__32CC4E1D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Search_DictionaryManagementMonitoring_Partition8] ADD  DEFAULT (newsequentialid()) FOR [RowId]
END

GO
