USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_CrawlDocumentStats]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_CrawlDocumentStats]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[Search_CrawlDocumentStats] AS  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlDocumentStats_Partition31]' 
GO
