USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  StoredProcedure [dbo].[prc_InsertWSSSync]    Script Date: 11/10/2016 4:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[prc_InsertWSSSync]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[prc_InsertWSSSync]    
        @FarmId UniqueIdentifier, @SiteSubscriptionId UniqueIdentifier, @UserLogin NVarChar(300), @CorrelationId UniqueIdentifier, @ImportStartTime DateTime, @ImportEndTime DateTime, @SyncType SmallInt, @ServerName NVarChar(3800), @DatabaseName NVarChar(3800), @Message1 NVarChar(3800), @Message2 NVarChar(3800), @Message3 NVarChar(3800), @Message4 NVarChar(3800), @Message5 NVarChar(3800), @Message6 NVarChar(3800), @Message7 NVarChar(3800), @Message8 NVarChar(3800), @NumTenants BigInt, @NumModifiedProfiles BigInt, @NumSitesProcessed BigInt, @NumSitesSkipped BigInt, @NumSitesNeedFullSync BigInt, @NumUsersProcessed BigInt, @NumUsersFailed BigInt, @NumSitesFailed BigInt,         
        @MachineName nvarchar(128),
        @LogTime datetime 
    AS
    BEGIN
        SET NOCOUNT ON
        DECLARE @PartitionId tinyint,
                @UTCDate datetime,
                @ConfigName nvarchar(255),
                @RetentionPeriod smallint,
		@MaxBytes bigint
        SELECT @UTCDate = getutcdate()
        -- We probably want to discard anything older than retention policy
        -- and messages from the future should be similarly ignored
        -- Just ignore without error
        SELECT @ConfigName = ''Retention Period - WSSSync''
        SELECT @RetentionPeriod = CAST(dbo.fn_GetConfigValue(@ConfigName)  as smallint)
        IF (datediff(dd, @LogTime, @UTCDate) > @RetentionPeriod OR
            datediff(hh, @LogTime, @UTCDate) < 0)
        BEGIN
            RETURN
        END
	SELECT @ConfigName = ''Max Total Bytes - WSSSync''
	SELECT @MaxBytes = CAST(dbo.fn_GetConfigValue(@ConfigName) as bigint) / @RetentionPeriod
        SELECT @PartitionId = dbo.fn_GetPartitionId(@LogTime)
        exec dbo.prc_LogAndRollOverPartition ''WSSSync'', @UTCDate 
		-- Silently fail if the partition is full.
		IF (dbo.fn_GetPartitionSize(''WSSSync_Partition'' + CAST(@PartitionId as NVARCHAR(MAX))) >= @MaxBytes)
		BEGIN
			RETURN
		END
        DECLARE @SQL nvarchar(MAX), 
		        @SQLParams nvarchar(MAX)
        SELECT @SQL =
	           CAST(''INSERT INTO [dbo].[WSSSync_Partition'' AS NVARCHAR(MAX)) + CAST(@PartitionId as NVARCHAR(MAX)) + CAST('']
			        (PartitionId, 
			        LogTime,
			        MachineName,
                FarmId, SiteSubscriptionId, UserLogin, CorrelationId, ImportStartTime, ImportEndTime, SyncType, ServerName, DatabaseName, Message1, Message2, Message3, Message4, Message5, Message6, Message7, Message8, NumTenants, NumModifiedProfiles, NumSitesProcessed, NumSitesSkipped, NumSitesNeedFullSync, NumUsersProcessed, NumUsersFailed, NumSitesFailed, 
			        RowCreatedTime) 
		        SELECT 
			        @PartitionId,
			        @LogTime,
			        @MachineName,
                @FarmId, @SiteSubscriptionId, @UserLogin, @CorrelationId, @ImportStartTime, @ImportEndTime, @SyncType, @ServerName, @DatabaseName, @Message1, @Message2, @Message3, @Message4, @Message5, @Message6, @Message7, @Message8, @NumTenants, @NumModifiedProfiles, @NumSitesProcessed, @NumSitesSkipped, @NumSitesNeedFullSync, @NumUsersProcessed, @NumUsersFailed, @NumSitesFailed, 
			        @UTCDate'' AS NVARCHAR(MAX))
        SELECT @SQLParams = 
		        ''@PartitionId tinyint,
		        @LogTime datetime,
		        @MachineName nvarchar(128),
                @FarmId UniqueIdentifier, @SiteSubscriptionId UniqueIdentifier, @UserLogin NVarChar(300), @CorrelationId UniqueIdentifier, @ImportStartTime DateTime, @ImportEndTime DateTime, @SyncType SmallInt, @ServerName NVarChar(3800), @DatabaseName NVarChar(3800), @Message1 NVarChar(3800), @Message2 NVarChar(3800), @Message3 NVarChar(3800), @Message4 NVarChar(3800), @Message5 NVarChar(3800), @Message6 NVarChar(3800), @Message7 NVarChar(3800), @Message8 NVarChar(3800), @NumTenants BigInt, @NumModifiedProfiles BigInt, @NumSitesProcessed BigInt, @NumSitesSkipped BigInt, @NumSitesNeedFullSync BigInt, @NumUsersProcessed BigInt, @NumUsersFailed BigInt, @NumSitesFailed BigInt,         
		        @UTCDate datetime''
        exec sp_executesql
	        @SQL,
	        @SQLParams,
	        @PartitionId,
            @LogTime,
            @MachineName,
	        @FarmId, @SiteSubscriptionId, @UserLogin, @CorrelationId, @ImportStartTime, @ImportEndTime, @SyncType, @ServerName, @DatabaseName, @Message1, @Message2, @Message3, @Message4, @Message5, @Message6, @Message7, @Message8, @NumTenants, @NumModifiedProfiles, @NumSitesProcessed, @NumSitesSkipped, @NumSitesNeedFullSync, @NumUsersProcessed, @NumUsersFailed, @NumSitesFailed, 
            @UTCDate
    END' 
END
GO
