USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[ClientServiceRequestUsage]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[ClientServiceRequestUsage]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[ClientServiceRequestUsage] AS  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[ClientServiceRequestUsage_Partition31]' 
GO
