USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[BandwidthUsage]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[BandwidthUsage]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[BandwidthUsage] AS  SELECT * FROM [dbo].[BandwidthUsage_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[BandwidthUsage_Partition31]' 
GO
