USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[RequestUsage]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[RequestUsage]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[RequestUsage] AS  SELECT * FROM [dbo].[RequestUsage_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[RequestUsage_Partition31]' 
GO
