USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_VerboseIndexLookupQueryLatency]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_VerboseIndexLookupQueryLatency]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_VerboseIndexLookupQueryLatency] AS  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_VerboseIndexLookupQueryLatency_Partition31]' 
GO
