USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[SqlExceptionsData]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[SqlExceptionsData]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[SqlExceptionsData] AS  SELECT * FROM [dbo].[SqlExceptionsData_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SqlExceptionsData_Partition31]' 
GO
