USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[MonitoredScopeDiagnosticsData]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[MonitoredScopeDiagnosticsData]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[MonitoredScopeDiagnosticsData] AS  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MonitoredScopeDiagnosticsData_Partition31]' 
GO
