USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  StoredProcedure [dbo].[prc_CreateInsertProcHelper]    Script Date: 11/10/2016 4:16:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[prc_CreateInsertProcHelper]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[prc_CreateInsertProcHelper]
(
    @TypeName nvarchar(100),
    @ColumnNames nvarchar(3800),
    @Debug bit = 0
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @SQL nvarchar(MAX),
        @Exists bit,
        @ProcName sysname 
    SELECT @ProcName = ''prc_Insert'' + @TypeName
    IF (object_id(''[dbo].['' + @ProcName + '']'') IS NOT NULL)
        SET @Exists = 1
    ELSE
        SET @Exists = 0
    SELECT @SQL = CASE WHEN @Exists = 1 THEN ''ALTER'' ELSE ''CREATE'' END
        +'' PROCEDURE '' + ''[dbo].['' + @ProcName + '']'' + ''    
        ''+ cast(dbo.fn_ParseColumnList(@ColumnNames, 1) as nvarchar(MAX)) + ''        
        @MachineName nvarchar(128),
        @LogTime datetime 
    AS
    BEGIN
        SET NOCOUNT ON
        DECLARE @PartitionId tinyint,
                @UTCDate datetime,
                @ConfigName nvarchar(255),
                @RetentionPeriod smallint,
		@MaxBytes bigint
        SELECT @UTCDate = getutcdate()
        -- We probably want to discard anything older than retention policy
        -- and messages from the future should be similarly ignored
        -- Just ignore without error
        '' +
        ''SELECT @ConfigName = '''''' + ''Retention Period - '' + @TypeName + ''''''
        SELECT @RetentionPeriod = CAST(dbo.fn_GetConfigValue(@ConfigName)  as smallint)
        IF (datediff(dd, @LogTime, @UTCDate) > @RetentionPeriod OR
            datediff(hh, @LogTime, @UTCDate) < 0)
        BEGIN
            RETURN
        END
	SELECT @ConfigName = ''''Max Total Bytes - '' + @TypeName + ''''''
	SELECT @MaxBytes = CAST(dbo.fn_GetConfigValue(@ConfigName) as bigint) / @RetentionPeriod
        SELECT @PartitionId = dbo.fn_GetPartitionId(@LogTime)
        exec dbo.prc_LogAndRollOverPartition '''''' + @TypeName + '''''', @UTCDate 
		-- Silently fail if the partition is full.
		IF (dbo.fn_GetPartitionSize('''''' + @TypeName + ''_Partition'''' + CAST(@PartitionId as NVARCHAR(MAX))) >= @MaxBytes)
		BEGIN
			RETURN
		END
        DECLARE @SQL nvarchar(MAX), 
		        @SQLParams nvarchar(MAX)
        SELECT @SQL =
	           CAST(''''INSERT INTO [dbo].['' + @TypeName + ''_Partition'''' AS NVARCHAR(MAX)) + CAST(@PartitionId as NVARCHAR(MAX)) + CAST('''']
			        (PartitionId, 
			        LogTime,
			        MachineName,
                '' + cast(dbo.fn_ParseColumnNames(@ColumnNames, 0) as nvarchar(MAX)) + ''
			        RowCreatedTime) 
		        SELECT 
			        @PartitionId,
			        @LogTime,
			        @MachineName,
                '' + cast(dbo.fn_ParseColumnNames(@ColumnNames, 1) as nvarchar(MAX)) + ''
			        @UTCDate'''' AS NVARCHAR(MAX))
        SELECT @SQLParams = 
		        ''''@PartitionId tinyint,
		        @LogTime datetime,
		        @MachineName nvarchar(128),
                ''+ cast(dbo.fn_ParseColumnList(@ColumnNames, 1) as nvarchar(MAX)) + ''        
		        @UTCDate datetime''''
        exec sp_executesql
	        @SQL,
	        @SQLParams,
	        @PartitionId,
            @LogTime,
            @MachineName,
	        '' + cast(dbo.fn_ParseColumnNames(@ColumnNames, 1) as nvarchar(MAX)) + ''
            @UTCDate
    END''
    IF (@Debug = 1)
        PRINT @SQL
    ELSE
    BEGIN
        exec sp_executesql @SQL
	exec sp_recompile @ProcName
    END
END
' 
END
GO
