USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[TaskUsage]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[TaskUsage]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[TaskUsage] AS  SELECT * FROM [dbo].[TaskUsage_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TaskUsage_Partition31]' 
GO
