USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[TenantLog]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[TenantLog]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[TenantLog] AS  SELECT * FROM [dbo].[TenantLog_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TenantLog_Partition31]' 
GO
