USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[SPDistributedCacheCalls]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[SPDistributedCacheCalls]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[SPDistributedCacheCalls] AS  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SPDistributedCacheCalls_Partition31]' 
GO
