USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[TraceDiagnosticsDummy]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[TraceDiagnosticsDummy]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[TraceDiagnosticsDummy] AS  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[TraceDiagnosticsDummy_Partition31]' 
GO
