USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_QueryErrors]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_QueryErrors]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_QueryErrors] AS  SELECT * FROM [dbo].[Search_QueryErrors_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_QueryErrors_Partition31]' 
GO
