USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_CrawlProgress]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_CrawlProgress]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_CrawlProgress] AS  SELECT * FROM [dbo].[Search_CrawlProgress_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlProgress_Partition31]' 
GO
