USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_CrawlLoad]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_CrawlLoad]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[Search_CrawlLoad] AS  SELECT * FROM [dbo].[Search_CrawlLoad_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_CrawlLoad_Partition31]' 
GO
