USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[UserProfileADImport]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[UserProfileADImport]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[UserProfileADImport] AS  SELECT * FROM [dbo].[UserProfileADImport_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[UserProfileADImport_Partition31]' 
GO
