USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[WorkflowUsageTelemetry]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[WorkflowUsageTelemetry]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[WorkflowUsageTelemetry] AS  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[WorkflowUsageTelemetry_Partition31]' 
GO
