USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[AppStatistics]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[AppStatistics]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[AppStatistics] AS  SELECT * FROM [dbo].[AppStatistics_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[AppStatistics_Partition31]' 
GO
