USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[Search_PerMinuteSubFlowTimings]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Search_PerMinuteSubFlowTimings]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[Search_PerMinuteSubFlowTimings] AS  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[Search_PerMinuteSubFlowTimings_Partition31]' 
GO
