USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[MicroblogUsageTelemetry]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[MicroblogUsageTelemetry]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[MicroblogUsageTelemetry] AS  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[MicroblogUsageTelemetry_Partition31]' 
GO
