USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  View [dbo].[SandboxedRequests]    Script Date: 11/10/2016 4:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[SandboxedRequests]'))
EXEC dbo.sp_executesql @statement = N' CREATE VIEW [dbo].[SandboxedRequests] AS  SELECT * FROM [dbo].[SandboxedRequests_Partition0] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition1] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition2] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition3] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition4] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition5] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition6] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition7] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition8] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition9] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition10] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition11] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition12] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition13] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition14] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition15] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition16] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition17] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition18] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition19] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition20] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition21] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition22] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition23] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition24] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition25] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition26] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition27] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition28] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition29] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition30] with (NOLOCK) UNION ALL  SELECT * FROM [dbo].[SandboxedRequests_Partition31]' 
GO
