USE [master]
GO
/****** Object:  Database [DSSPPROD_UsageAndHealth]    Script Date: 11/10/2016 4:16:41 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DSSPPROD_UsageAndHealth')
BEGIN
CREATE DATABASE [DSSPPROD_UsageAndHealth]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DSSPPROD_UsageAndHealth', FILENAME = N'h:\sql_data\DSSPPROD_UsageAndHealth.mdf' , SIZE = 11097152KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DSSPPROD_UsageAndHealth_log', FILENAME = N'i:\sql_log\DSSPPROD_UsageAndHealth_log.ldf' , SIZE = 4736KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DSSPPROD_UsageAndHealth].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
