USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  User [HEALTHBC\SVC_DS_SP_WebApp]    Script Date: 11/10/2016 4:16:41 PM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'HEALTHBC\SVC_DS_SP_WebApp')
CREATE USER [HEALTHBC\SVC_DS_SP_WebApp] FOR LOGIN [HEALTHBC\SVC_DS_SP_WebApp] WITH DEFAULT_SCHEMA=[HEALTHBC\SVC_DS_SP_WebApp]
GO
ALTER ROLE [SPReadOnly] ADD MEMBER [HEALTHBC\SVC_DS_SP_WebApp]
GO
