USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  User [HEALTHBC\SVC_DS_SP_Farm]    Script Date: 11/10/2016 4:16:41 PM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'HEALTHBC\SVC_DS_SP_Farm')
CREATE USER [HEALTHBC\SVC_DS_SP_Farm] FOR LOGIN [HEALTHBC\SVC_DS_SP_Farm] WITH DEFAULT_SCHEMA=[HEALTHBC\SVC_DS_SP_Farm]
GO
ALTER ROLE [db_owner] ADD MEMBER [HEALTHBC\SVC_DS_SP_Farm]
GO
