USE [DSSPPROD_UsageAndHealth]
GO
/****** Object:  User [VCH\svc_STDBDECSUP01]    Script Date: 11/10/2016 4:16:41 PM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'VCH\svc_STDBDECSUP01')
CREATE USER [VCH\svc_STDBDECSUP01] FOR LOGIN [VCH\svc_STDBDECSUP01] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [VCH\svc_STDBDECSUP01]
GO
